[service]
port = 8080
base-url = /api/v1
swagger-yml = etc/swagger.yml
swagger-url = /api/v1/doc
db-file = etc/db.json

[logging]
;access-logfile = /var/log/service/access.log
;access-maxbytes = 1000000
;access-backupcount = 5
;error-logfile = /var/log/service/error.log
;error-maxbytes = 1000000
;error-backupcount = 5
